@using WedSiteBanHang.Models;
@model IEnumerable<DonDatHang>

@{
    ViewBag.Title = "ChuaThanhToan";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 20);
}

<h2>Quản lý đơn hàng (Danh sách đơn hàng chưa thanh toàn)</h2>
@*Tab quản lý các trạng thái đơn hàng*@
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="@Url.Action("ChuaThanhToan","QuanlyDonHang")">Chưa thanh toán</a> </li>
    <li role="presentation" ><a href="@Url.Action("ChuaGiao","QuanlyDonHang")">Chưa giao & Đã thanh toán</a> </li>
    <li role="presentation" ><a href="@Url.Action("DaGiaoDaThanhToan","QuanlyDonHang")">Đã giao & Thanh toán</a> </li>

</ul> <br />
@*Dùng control Webgrid thể hiện dữ liệu model là danh sách các đơn đặt hàng được truy vấn theo điều kiện từ controller*@
   @grid.GetHtml(
       tableStyle: "divTable", //csscho thẻ table
       headerStyle: "gridHead",// class css cho tiêu đề của table
       footerStyle: "gridFooter",// class css cho phần phân trang phía dưới
       rowStyle: "gridRow",// class css các row lẻ
       alternatingRowStyle: "gridAltRow",// class css các row chẵn (xen kẽ)
       columns: grid.Columns(
           grid.Column("MaDDH", header:"Mã đơn hàng"),
           grid.Column("MaKH", header: "Họ tên KH", format: p => p.MaKH != null ? p.KhachHang.TenKH:""), //Dùng toán tử 3 ngôi thay
           grid.Column("NgayDat", header: "Ngày đặt"),
           grid.Column("TinhTrangGiaoHang", header: "Tình trạng giao hàng"),
           grid.Column("NgayGiao", header: "Ngày giao"),
           grid.Column("DaThanhToan", header: "Đã thanh toán"),
           grid.Column("UuDai", header: "Ưu đãi"),
           grid.Column("DaHuy", header: "Đã hủy"),
           grid.Column(format: p => Html.ActionLink("Duyệt đơn hàng", "DuyetDonHang", new { id = p.MaDDH }, new { @target = "_blank" }))


           ))

<style>
    .divTable {
        width: 100%;
        border: 1px solid #999999;
    }

        .divTable td {
            border: 1px solid #999999;
        }

    .gridHead {
        background-color: green;
    }

        .gridHead > th > a {
            color: #fff;
        }

    .gridFooter {
        font-weight: bold;
    }
    /*.gridRow{
           color: #fff;
           background-color: blueviolet;
       }
       .gridAltRow{
           color: #fff;
           background-color: orange;
       }
    element.style {
       width: 200px;*/
    }
</style>
<style>
    .FooterAdmin {
        display: none;
    }
</style>