
@{
    ViewBag.Title = "LoiPhanQuyen";
    Layout = "~/Views/Layout/AdminLayout.cshtml";
}

<h2>
    Bạn không đủ quyền truy cập vào trang này vui lòng trở về trang chủ
    @Html.ActionLink("Trở về", "Index", "Home", null, null)
</h2>

