@using WedSiteBanHang.Models;
@model IEnumerable<SanPham>

<div class="grid-in">
    @foreach (var iterm in Model)
            {


        <div class="col-md-4 grid-top">
            <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
                <img class="img-responsive" src="@Url.Content("~/Content/images/"+iterm.HinhAnh)" alt="">
                <div class="b-wrapper">
                    <h3 class="b-animate b-from-left    b-delay03 ">
                        <span>Mô tả ngắn gọn</span>
                    </h3>
                </div>
            </a>

            <p><a href="single.html">@iterm.TenSP</a></p>
        </div>
    }
</div>