@using WedSiteBanHang.Models;
@model List<ThanhVien>
@{
    ViewBag.Title = "GroupDulieu";
}

@*Group dữ liệu*@
@foreach(var GroupLTV in Model.GroupBy(n => n.LoaiThanhVien))
{
    <div>@GroupLTV.Key.TenLoai</div>
    foreach(var item in GroupLTV )
    {
        <p>@item.TaiKhoan </p>
    }
}
